# Data directory
/data
/data/*

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Environment directories
venv/
env/
.env

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Operating system files
.DS_Store
Thumbs.db