# Data directory
# Add all these patterns to your .gitignore
# Data files anywhere in the project

find_patterns/results/
find_patterns/data/


#/ Python cache files
__pycache__/
*.py[cod]
*$py.class

# Environment directories
venv/
.venv/
env/
.env

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Operating system files
.DS_Store
Thumbs.db